<div class="row content">
  <h1> {{ titlePage }} </h1>
  <div class="container text-center">
    <div class="row justify-content-md-center">
      <div class="col-sm-12 pastrie">
        <ul  style="list-style: none;" *ngIf="pastries"  >
          <li  style="margin-bottom: 20px" *ngFor = " let pastrie of filteredPastries" >
            <div class="card" style="width: 70rem;" appBorderCard="red">
              <div class="card-header">
                {{ pastrie.ref }}
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ pastrie.name }}</h5>
                <p class="card-text">{{ pastrie.description }}</p>
                <ul style="list-style: none;" class="list-inline" *ngIf="pastrie.tags">
                  <li class="list-inline-item" *ngFor = " let tag of pastrie.tags">
                    <span class="badge {{tag | pastrieTagColor}}">{{tag}}</span>
                  </li>
                </ul>
                <a class="btn btn-outline-dark" href="#" role="button">fr</a>
                <ng-template [ngIf]="pastrie.like">
                  <img width="15" class="glyph-icon" src="../../../assets/svg/si-glyph-heart.svg" alt="like"/>
                  <small>{{ pastrie.like }}</small>
                </ng-template>
                <ng-template [ngIf]="pastrie.quantity">
                  <img width="15" class="glyph-icon" src="../../../assets/svg/si-glyph-triangle-double-arrow-right.svg" alt="disponibility"/>
                  <small>{{pastrie.quantity}} unités disponibles</small>
                </ng-template>


              </div>
              <button (click)="goToPastrie(pastrie)">Détail</button>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>


