.card-selected{
  cursor: pointer;
}


.bg-red {
  background-color: red !important;
}

.bg-blue {
  background-color: blue !important;
}

.bg-green {
  background-color: green !important;
}

.bg-brown {
  background-color: brown  !important;
}

.bg-deeppink {
  background-color: deeppink  !important;
}

.bg-deep-orange {
  background-color: orange  !important;
}

.bg-blueviolet {
  background-color: blueviolet  !important;
}
.bg-chartreuse {
  background-color: chartreuse  !important;
}
.bg-mediumvioletred {
  background-color: mediumvioletred  !important;
}


